.product {
    display: grid;
    grid-template-columns: [start] 70px [logoend] 30px [titlestart] calc(50% - 100px) [middle] 1fr [priceStart] auto [priceend] 40px [creditstart] auto [creditend] 40px [ratingstart] auto [end];
    margin-bottom: 30px;
    padding: 30px;
}

.logo {
    grid-column: start / logoend;
    grid-row: 1 / span 2;
}

.title, .tags {
    grid-column: titlestart / middle;
}

.price, .priceTitle {
    grid-column: priceStart / priceend;
}

.credit, .creditTitle {
    grid-column: creditstart / creditend;
}

.rating, .ratingTitle {
    grid-column: ratingstart / end;
}

.hr {
    grid-column: start / end;
}

.description {
    grid-column: start / end;
}

.features {
    grid-column: start / middle;
}

.advBlock {
    grid-column: middle / end;
}

.actions {
    grid-column: start / end;
}